.proyectos {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .proyectosContainer {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .proyectos {
    h2{
      font-size: 2rem;
    }
    .proyectosContainer {
      display: flex;
      justify-content: space-around;
	  flex-flow: row wrap;
      width: 60%;
    }
  }
}
