* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header .nav {
  background-color: rgba(26, 26, 26, 0);
  opacity: 0;
  height: 0vh;
  pointer-events: none;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav.activo {
  opacity: 1;
  height: 50vh;
  pointer-events: auto;
}

@media only screen and (min-width: 700px) {
  .header .nav {
    opacity: 1;
    height: auto;
    pointer-events: auto;
    overflow: none;
    -webkit-transition: none;
    transition: none;
  }
}

@media only screen and (min-width: 700px) {
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav ul li {
  margin: .5em 0;
}

@media only screen and (min-width: 700px) {
  .header .nav ul li {
    margin: 0 1.5rem;
    list-style: none;
  }
}

.header .nav ul li a {
  text-align: center;
  display: block;
  width: 100vw;
  line-height: 70px;
  text-decoration: none;
  color: #1E69EA;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.header .nav ul li a:hover {
  background-color: #15151c;
}

@media only screen and (min-width: 700px) {
  .header .nav ul li a {
    display: block;
    width: auto;
  }
  .header .nav ul li a:hover {
    background: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background-color: #1a1a1a7d;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.header .logo {
  color: #1E69EA;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .header .button {
    display: none;
  }
}

.header .button .svg {
  color: #1E69EA;
  height: 2.5em;
  width: 2.5em;
}

.footer {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: #fff;
  text-align: center;
}

.footer .redes i {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.main .contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.main .contact .form input {
  width: 100%;
  margin-bottom: 30px;
  line-height: 30px;
  background: #15151c;
  border: none;
  border-bottom: 2px solid #1E69EA;
  color: #fff;
  outline: none;
}

.main .contact .form textarea {
  margin-bottom: 30px;
  padding-left: 5px;
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  max-width: 100%;
  min-width: 100%;
  background: none;
  border: none;
  border-left: 2px solid #1E69EA;
  border-right: 2px solid #1E69EA;
  background-color: #15151c;
  color: #fff;
  outline: none;
}

.btn__cv {
  text-decoration: none;
}

.btn__cv button {
  background-color: #1E69EA;
  padding: 10px 15px;
  border-radius: 50px;
  margin-top: 5px;
  border: none;
  color: #fff;
}

.btn__cv button:hover {
  background-color: #256eff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* -----aboutMe----- */
  /* ----- Proyects ----- */
}

.main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

.main .info img {
  width: 100%;
}

.main .info .info-content {
  text-align: center;
}

.main .info .info-content h1 {
  text-align: center;
  font-size: 50px;
  color: #1E69EA;
  font-family: "Oswald", sans-serif;
}

.main .info .info-content h2 {
  font-size: 32px;
  color: #fff;
  margin: 10px 0;
}

@media only screen and (min-width: 700px) {
  .main .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .info img {
    width: 40%;
  }
  .main .info .info-content {
    width: 40%;
    margin: 50px;
    text-align: start;
  }
  .main .info .info-content h1 {
    text-align: start;
  }
}

.main .aboutMe {
  height: 100vh;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.main .aboutMe img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .aboutMe .me {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .aboutMe .me h2 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1.5rem auto;
  color: #1E69EA;
  background-color: #15151c;
  border-radius: 25px;
  padding: 10px 15px;
}

.main .aboutMe .me h2:hover {
  background-color: #1E69EA;
  color: #fff;
}

.main .aboutMe .me p {
  color: #fff;
  padding: 0 7%;
}

.main .aboutMe .me .btn__cv {
  margin-top: 1rem;
}

@media only screen and (min-width: 700px) {
  .main .aboutMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .aboutMe img {
    width: 35%;
  }
  .main .aboutMe .me {
    width: 30%;
  }
  .main .aboutMe .me p {
    padding: 0;
  }
}

.main .proyects {
  height: 100%;
}

.main .proyects h2 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 4rem auto;
  color: #1E69EA;
  background-color: #1a1a1a;
  border-radius: 25px;
  padding: 10px 15px;
}

.main .proyects h2:hover {
  background-color: #1E69EA;
  color: #fff;
}

.main .proyects .proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .proyects .proyectos .proyect {
  display: block;
  width: 80%;
  height: 15rem;
  margin: 15px 0;
}

.main .proyects .proyectos .proyect:nth-child(1) {
  background-image: url(/public/assets/img/Estadio-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .proyects .proyectos .proyect:nth-child(2) {
  background-image: url(/public/assets/img/Estadio-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .proyects .proyectos .proyect:nth-child(3) {
  background-image: url(/public/assets/img/Estadio-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .proyects .proyectos .proyect:nth-child(4) {
  background-image: url(../../../public/assets/img/Estadio-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .proyects .proyectos .proyect:nth-child(5) {
  background-image: url(../../../public/assets/img/Estadio-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .proyects .proyectos .proyect:nth-child(6) {
  background-image: url(../../../public/assets/img/Estadio-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main .proyects .proyectos .proyect:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .proyects .proyectos .proyect .blur {
  background-color: #1e69ea63;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .proyects .proyectos .proyect .blur:hover {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .proyects .proyectos .proyect .blur h4 {
  font-size: 24px;
}

.main .proyects .proyectos .proyect .blur h4 a {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 25px;
}

.main .proyects .proyectos .proyect .blur h4 a:hover {
  color: #fff;
}

.main .proyects .proyectos .proyect .blur h4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .proyects .proyectos .proyect .blur i {
  position: relative;
  top: 4rem;
  font-size: 40px;
  color: #f0f6fc;
  background-color: #1a1a1a;
  border-radius: 25px;
}

@media only screen and (min-width: 700px) {
  .main .proyects {
    margin: auto;
    width: 90%;
    height: 100vh;
  }
  .main .proyects h2 {
    margin-top: 6rem;
  }
  .main .proyects .proyectos {
    background-color: #1a1a1a;
  }
  .main .proyects .proyectos .proyect {
    width: 32%;
  }
}

.main .tecno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  margin: 60px 0;
}

.main .tecno i {
  font-size: 50px;
  margin: 10px 20px;
  color: #f0ffff;
}

.main .contact {
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contact h2 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3rem auto;
  color: #1E69EA;
  background-color: #15151c;
  border-radius: 25px;
  padding: 10px 15px;
}

.main .contact h2:hover {
  background-color: #1E69EA;
  color: #fff;
}

@media only screen and (min-width: 700px) {
  .main .contact .form {
    width: 40%;
  }
  .main .contact .form input {
    font-size: 16px;
  }
  .main .contact .form textarea {
    font-size: 16px;
  }
}

.container {
  background-color: #15151c;
  width: 100%;
  height: 100vh;
}
