* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background-color: #1a1a1a7d;
  position: fixed;
  top: 0;
}

.header .logo {
  color: #1E69EA;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .header .button {
    display: none;
  }
}

.header .button .svg {
  color: #1E69EA;
  height: 2.5em;
  width: 2.5em;
}

.header .nav {
  background-color: rgba(26, 26, 26, 0);
  opacity: 0;
  height: 0vh;
  pointer-events: none;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav.activo {
  opacity: 1;
  height: 50vh;
  pointer-events: auto;
}

@media only screen and (min-width: 700px) {
  .header .nav {
    opacity: 1;
    height: auto;
    pointer-events: auto;
    overflow: none;
    -webkit-transition: none;
    transition: none;
  }
}

@media only screen and (min-width: 700px) {
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav ul li {
  margin: .5em 0;
}

@media only screen and (min-width: 700px) {
  .header .nav ul li {
    margin: 0 1.5rem;
    list-style: none;
  }
}

.header .nav ul li a {
  text-align: center;
  display: block;
  width: 100vw;
  line-height: 70px;
  text-decoration: none;
  color: #1E69EA;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.header .nav ul li a:hover {
  background-color: #15151c;
}

@media only screen and (min-width: 700px) {
  .header .nav ul li a {
    display: block;
    width: auto;
  }
  .header .nav ul li a:hover {
    background: none;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  grid-area: footer;
  background-color: aquamarine;
}

.main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* -----aboutMe----- */
}

.main .info {
  height: auto;
  width: 80vw;
  margin: 0 auto;
}

.main .info img {
  width: 100%;
}

.main .info .info-content {
  text-align: justify;
}

.main .info .info-content h1 {
  text-align: center;
  font-size: 32px;
  color: #1E69EA;
}

.main .info .info-content p {
  color: #fff;
  margin: 10px 0;
}

.main .info .info-content a {
  text-decoration: none;
}

.main .info .info-content a button {
  background-color: #1E69EA;
  padding: 10px 15px;
  border-radius: 50px;
  margin-top: 5px;
  border: none;
}

.main .info .info-content a button:hover {
  background-color: #256eff;
}

@media only screen and (min-width: 700px) {
  .main .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .main .info img {
    width: 40%;
  }
  .main .info .info-content {
    width: 40%;
    margin: 50px;
  }
  .main .info .info-content h1 {
    text-align: start;
  }
}

.main .aboutMe {
  background-color: #435959;
}

.container {
  background-color: #15151c;
  width: 100%;
  height: 100vh;
}
