.main{
    display: flex;
    flex-direction: column;
    

    .info{
        @include flex (column, nowrap, center, auto);
        height: 100vh;
        width: 80vw;
        margin: 0 auto;

        img{
            width: 100%;
        }

        .info-content{
            text-align: center;
            h1{
                text-align: center;
                font-size: 50px;
                color: $azulClaro;
                font-family: $oswald;
            }

            h2{
                font-size: 32px;
                color: #fff;
                margin: 10px 0;
            }
        }
    }
    
    @include media(){
        .info{
            
            @include flex(row-reverse, nowrap, center, center);

            img{
                width: 40%;
            }

            .info-content{
                width: 40%;
                margin: 50px;
                text-align: start;

                h1{
                    text-align: start;
                }
            }
        }
    }


    /* -----aboutMe----- */

    .aboutMe{
        height: 100vh;
        background-color: $negroClaro;
        @include flex (column, nowrap, center, auto);

        img{
            width: 100%;
            object-fit: cover;
        }

        .me{
            text-align: justify;
            @include flex (column, nowrap, auto, center);

            h2{
                width: max-content;
                margin: 1.5rem auto;
                color: $azulClaro;
                background-color: $negroOscuro;
                border-radius: 25px;
                padding: 10px 15px;

                &:hover{
                    background-color: $azulClaro;
                    color: #fff;
                }
            }

            p{
                color: #fff;
                padding: 0 7%;
            }

            .btn__cv{
                margin-top: 1rem;
            }
        }
    }

    @include media(){
        .aboutMe{

            @include flex (row, wrap, center, center);

            img{
                width: 35%;
            }

            .me{
                width: 30%;

                p{
                    padding: 0;
                }
            }
        }
    }
}

