.main{
    display: flex;
    flex-direction: column;
    

    .info{
        @include flex (column, nowrap, center, auto);
        height: 100vh;
        width: 80vw;
        margin: 0 auto;

        img{
            width: 100%;
        }

        .info-content{
            text-align: center;
            h1{
                text-align: center;
                font-size: 50px;
                color: $azulClaro;
                font-family: $oswald;
            }

            h2{
                font-size: 32px;
                color: #fff;
                margin: 10px 0;
            }
        }
    }
    
    @include media(){
        .info{
            
            @include flex(row-reverse, nowrap, center, center);

            img{
                width: 40%;
            }

            .info-content{
                width: 40%;
                margin: 50px;
                text-align: start;

                h1{
                    text-align: start;
                }
            }
        }
    }


    /* -----aboutMe----- */

    .aboutMe{
        height: 100vh;
        background-color: $negroClaro;
        @include flex (column, nowrap, center, auto);

        img{
            width: 100%;
            object-fit: cover;
        }

        .me{
            text-align: justify;
            @include flex (column, nowrap, auto, center);

            h2{
                width: max-content;
                margin: 1.5rem auto;
                color: $azulClaro;
                background-color: $negroOscuro;
                border-radius: 25px;
                padding: 10px 15px;

                &:hover{
                    background-color: $azulClaro;
                    color: #fff;
                }
            }

            p{
                color: #fff;
                padding: 0 7%;
            }

            .btn__cv{
                margin-top: 1rem;
            }
        }
    }

    @include media(){
        .aboutMe{

            @include flex (row, wrap, center, center);

            img{
                width: 35%;
            }

            .me{
                width: 30%;

                p{
                    padding: 0;
                }
            }
        }
    }


    /* ----- Proyects ----- */
    .proyects{
        height: 100%;

        h2{
            width: max-content;
            margin: 4rem auto;
            color: $azulClaro;
            background-color: $negroClaro;
            border-radius: 25px;
            padding: 10px 15px;

            &:hover{
                background-color: $azulClaro;
                color: #fff;
            }
        }

        .proyectos{
            @include flex (row, wrap, space-around, center);
            width: 100%;

            .proyect{
                display: block;
                width: 80%;
                height:15rem;
                margin: 15px 0;

                &:nth-child(1){
                    background-image: url(../../../public/assets/img/Estadio-1.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:nth-child(2){
                    background-image: url(../../../public/assets/img/Estadio-1.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:nth-child(3){
                    background-image: url(../../../public/assets/img/Estadio-1.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:nth-child(4){
                    background-image: url(../../../public/assets/img/Estadio-1.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:nth-child(5){
                    background-image: url(../../../public/assets/img/Estadio-1.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:nth-child(6){
                    background-image: url(../../../public/assets/img/Estadio-1.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:hover{
                    transform: scale(1.03);
                    transition: all .5s;
                }

                .blur{
                    background-color: #1e69ea63;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    
                    @include flex (column, nowrap, center, center);

                    &:hover{
                        opacity: 1;
                        transition: all .5s;
                    }

                    h4{
                        font-size: 24px;
  
                        a{
                            background-color: $negroClaro;
                            color: #fff;
                            padding: 10px 15px;
                            text-decoration: none;
                            border-radius: 25px;

                            &:hover{
                                color: #fff;
                            }
                        }

                        &:hover{
                            transform: scale(1.1);
                            transition: all .5s;
                        }
                    }

                    

                    i{
                        position: relative;
                        top: 4rem;
                        font-size: 40px;
                        color: #f0f6fc;
                        background-color: $negroClaro;
                        border-radius: 25px;
                    }
                }
            }
        }
    }

    @include media (){
        .proyects{
            margin: auto;
            width: 90%;
            height: 100vh;

            h2{
                margin-top: 6rem;
            }

            .proyectos{
                background-color: $negroClaro;

                .proyect{
                    width: 32%;
                }
            }
        }
    }

    .tecno{
        @include flex (row, wrap, space-evenly, auto);
        margin: 60px 0;


        i{
            font-size: 50px;
            margin: 10px 20px;
            color: #f0ffff;
        }
    }
}