// FUENTES Y TIPOGRAFÍAS

$oswald:'Oswald', sans-serif;
$openSans:'Open Sans', sans-serif;

// PALETA DE COLORES (AZULES Y NEGROS)

$azulOscuro:#014ba0;
$azulMedio:#0a5cb8;
$azulClaro:#1E69EA;
$negroOscuro:#15151c;
$negroClaro:#1a1a1a;