.home {
  display: flex;
  justify-content: center;
  padding-top: 6rem;

  .homeContainer {
	width: 85%;

	.homeInfo {
	  h1 {
		font-size: 26px;
		color: #ffff;
		line-height: 2rem;
		span {
		  color: #1469d9;
		}
	  }

	  .homeContact {
		a {
		  i {
			font-size: 24px;
			margin: 0 0.3rem 1rem 0.3rem;
			color: #fff;
		  }
		}
	  }
	}

	.imgContainer{
		margin: auto;
		width: 95%;
		height: 300px;
		background-image: url("/images/fotoPerfil.jpeg");
		background-size: cover;
	}
  }
}

@media screen and (min-width: 1024px) {
  .home {
	.homeContainer {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  width: 60%;
	  margin: 8rem 0;

	  .homeInfo{
		h1{
			font-size: 32px;
			line-height: 2.5rem;
		}
	  }

	  .imgContainer{
		margin: 0;
		width: 350px;
	  }
	}
  }
}
