footer {
  padding: 2rem .5rem;
  width: 100%;
  background-color: #010626;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  p {
    font-size: 14px;
    margin-bottom: .3rem;
  }

  a {
    color: white;
    i{
      margin: 0 .3rem;
      font-size: 24px;
    }
  }
}

@media screen and (min-width:1024px) {
    footer{
        justify-content: space-around;
    }
}
