.footer{
    height: 15vh;
    
    @include flex (row, wrap, space-around, center);

    p{
        color: #fff;
        text-align: center;
    }

    .redes{

        i{
            color: #fff;
            font-size: 20px;
            margin: 0 10px;
            cursor: pointer;
        }
    }
}